@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap');

:root {

    /* Fonts */
    --site-font: 'Titillium Web', sans-serif;

    /* Colours */
    --site-bg: #DFDEE3;
    --yellow-gradient: linear-gradient(135deg, #F0DD3E, #F6EB3A);
    --black-gradient: linear-gradient(135deg, #3B3E46, #121214);
    --blue: #050778;
}

body {
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--site-bg);
}

/* Utilities */

.container {
    width: min(100%, 144rem);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Header */

.header {
    background-image: var(--yellow-gradient);
    margin-bottom: 1rem;
}

/* Search Section */

.form {
    border: 1px solid red;
    margin-bottom: 1rem;
}

/* Main Section */
.main {
    border: 1px solid green;
    padding: 5px;
    display: grid;
    gap: 20px;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 3fr 1fr;
    height: 90vh;
}

.grid__row-span-2 {
    grid-row: span 2;
}

.grid__col-span-2 {
    grid-column: span 2;
}

.content-lg,
.content-side,
.content-bottom,
.content-footer {
    border: 1px solid purple;
}

.content-lg {
    height: 100%;
    background-color: white;
}

.content-side {
    height: 100%;
    background-color: white;
}

.content-bottom {
    height: 100%;
    background-color: white;
}

.content-footer {
    font-size: 1em;
    height: 2.2rem;
    align-self: end;
    background-color: white;
}
