@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap');

:root {
    /* Fonts */
    --site-font: 'Titillium Web', sans-serif;
}

body {
    font-family: 'Titillium Web', sans-serif;
}

/* Utilities */

.container {
    width: min(100%, 144rem);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellowgreen;
}

/* Header */

.header {
    background-color: aqua;
}
