@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap');

:root {

  /* Fonts */
  --site-font: 'Titillium Web', sans-serif;

  /* Colours */
  --site-bg: #eeeeee;
  --white-gradient: linear-gradient(135deg, #ffffff, #eeeeee);
  --yellow-gradient: linear-gradient(135deg, #F0DD3E, #F6EB3A);
  --black-gradient: linear-gradient(135deg, #3B3E46, #121214);
  --blue-gradient: linear-gradient(135deg, #153f92, #001f5e);
  --red-gradient: linear-gradient(135deg, #f03548, #ca0014);
}

body {
  font-family: 'Titillium Web', sans-serif;
  background-color: var(--site-bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: min(100%, 1080px);
  height: min(100%, 1080px);
  border: 1px solid red;
  background-color: var(--site-bg);
  display: grid;
  gap: 2rem;
}

/* Header / Title */
.header {
  background-color: var(--site-bg);
  position: sticky;
  top: 0;
}

.header__container {
  display: flex;
  justify-content: center;
}

.title__container {
  color: white;
  font-weight: 600;
  padding: .5rem 1rem;
  display: inline-block;
}

.brand__text {
  font-size: 4rem;
}

.brand__text--blue {
  background-image: var(--blue-gradient);
  flex-grow: 1;
}

.brand__text--blue--align {
  text-align: right;
}

.brand__text--red {
  background-image: var(--red-gradient);
  font-weight: 300;
}

.brand__text--white {
  background-image: var(--white-gradient);
  color: #001f5e;
  flex-grow: 1;
}

/* Search Bar */
.form {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}

input[type=text] {
  font-size: 1.6rem;
  padding: 1rem 1.4rem;
  border: 2px solid red;
  border-radius: .5rem;
}

input[type=text]:focus {
  outline: none;
}

button[type=submit] {
  background-image: var(--blue-gradient);
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: .1rem;
  border: none;
  border-radius: .5rem;
  padding: 1rem 1.4rem;
  color: white;
  cursor: pointer;
}

/* Side Section */
.side {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Date Section */
.date {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.date__container {
  color: #001f5e;
}

.date__logo__container {
  display: flex;
  flex-direction: row;
}

.date__title__container {
  display: flex;
  flex-direction: row;
  padding: 0 .2rem;
}

.date__text--blue {
  color: #001f5e;
  font-weight: 600;
  padding-left: 0;
}

.date__text--red {
  color: white;
  background-image: var(--red-gradient);
}

.date__text--white {
  color: #001f5e;
  font-weight: 600;
  background-color: white;
}

/* Team Info */
.team__info__container {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.team__info {
  font-size: 1.1rem;
}

.team__logo-container {
  width: 85px;
  height: 85px;
}

/* Footer */
.footer {
  background-image: var(--yellow-gradient);
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
}

.footer__container {
  height: 2.1rem;
}

.breaking__news {
  background-image: var(--black-gradient);
  color: gold;
  padding: 0 1rem;
}
