@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap');

:root {

  /* Fonts */
  --site-font: 'Titillium Web', sans-serif;

  /* Colours */
  --site-bg: #DFDEE3;
  --yellow-gradient: linear-gradient(135deg, #F0DD3E, #F6EB3A);
  --black-gradient: linear-gradient(135deg, #3B3E46, #121214);
  --blue-gradient: linear-gradient(135deg, #153f92, #001f5e);
  --red-gradient: linear-gradient(135deg, #f03548, #ca0014);
}

body {
  font-family: 'Titillium Web', sans-serif;
  background-image: var(--site-bg);
}

/* Utilities */

.container {
  width: min(100%, 144rem);
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Header / Title */

.header {
  position: sticky;
  top: 0;
}

.title__container {
  color: white;
  font-weight: 600;
  padding: .5rem 1rem;
}

.brand__text {
  font-size: 4rem;
}

.brand__text--blue {
  background-image: var(--blue-gradient);
  width: 100%;
}

.brand__text--blue--align {
  text-align: right;
}

.brand__text--red {
  background-image: var(--red-gradient);
}

/* Search Bar */

.form {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

input[type=text] {
  font-size: 1.6rem;
  padding: 1rem 1.4rem;
  margin: 8px 0;
  border: 2px solid red;
  border-radius: .5rem;
}

input[type=text]:focus {
  outline: none;
}

button[type=submit] {
  background-image: var(--blue-gradient);
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: .1rem;
  border: none;
  border-radius: .5rem;
  padding: 1rem 1.4rem;
  margin: 8px 0;
  color: white;
}

/* Team Info */

.team__logo {
  width: 85px;
  height: 85px;
}

.date {}

.seconds {
  font-size: 2rem;
  color: black;
  height: 100px;
  width: 100px;
}
