@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap');

:root {

  /* Fonts */
  --site-font: 'Titillium Web', sans-serif;

  /* Colours */
  --site-bg: #eeeeee;
  --white-gradient: linear-gradient(135deg, #ffffff, #eeeeee);
  --yellow-gradient: linear-gradient(135deg, #F0DD3E, #F6EB3A);
  --black-gradient: linear-gradient(135deg, #3B3E46, #121214);
  --blue-gradient: linear-gradient(135deg, #153f92, #001f5e);
  --red-gradient: linear-gradient(135deg, #f03548, #ca0014);
}

body {
  font-family: 'Titillium Web', sans-serif;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Utilities */

.wrapper {
  width: min(100%, 108rem);
  height: min(100%, 108rem);
  position: relative;
  background-color: var(--site-bg);
  overflow: hidden;
  border-radius: 5px;
}

main {
  height: 100%;
  overflow-y: scroll;
}

.container {
  width: min(95%, 144rem);
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Header / Title */

.header {
  position: sticky;
  top: 0;
}

.header__container {
  display: flex;
  justify-content: center;
}

.title__container {
  color: white;
  font-weight: 600;
  padding: .5rem 1rem;
  display: inline-block;
}

.brand__text {
  font-size: 4rem;
}

.brand__text--blue {
  background-image: var(--blue-gradient);
  flex-grow: 1;
}

.brand__text--blue--align {
  text-align: right;
}

.brand__text--red {
  background-image: var(--red-gradient);
  font-weight: 300;
}

.brand__text--white {
  background-image: var(--white-gradient);
  color: #001f5e;
  flex-grow: 1;
}

/* Search Bar */

.form {
  margin: 2rem 0;
  display: flex;
  gap: 1rem;
}

input[type=text] {
  font-size: 1.6rem;
  padding: 1rem 1.4rem;
  border: 2px solid red;
  border-radius: .5rem;
}

input[type=text]:focus {
  outline: none;
}

button[type=submit] {
  background-image: var(--blue-gradient);
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: .1rem;
  border: none;
  border-radius: .5rem;
  padding: 1rem 1.4rem;
  color: white;
  cursor: pointer;
}

/* Date Section */

.date {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  margin-top: 2rem;
}

.date__container {
  color: #001f5e;
}

.date__logo__container {
  display: flex;
  flex-direction: row;
}

.date__title__container {
  display: flex;
  flex-direction: row;
  padding: 0 .2rem;
}

.date__text--blue {
  color: #001f5e;
  font-weight: 600;
  padding-left: 0;
}

.date__text--red {
  color: white;
  background-image: var(--red-gradient);
}

.date__text--white {
  color: #001f5e;
  font-weight: 600;
  background-color: white;
}

/* Team Info */

.team__info__container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  justify-content: flex-start;
  width: 100%;
}

.team__info {
  font-size: 1.1rem;
}

.team__logo-container {
  width: 85px;
  height: 85px;
}

/* Team Form Section */

.team__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  /* align-items: center; */
  gap: 1rem;
}

.team__form__container {
  display: flex;
  gap: 1rem;
}

/* league Table Section */

.league {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* width: 100%; */
}

.league__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

.league__table {
  display: flex;
  flex-direction: column;
  gap: .1rem;
}

.league__team__logo {
  width: 20px;
  height: 20px;
}

.league__team__rank {
  width: 1.2rem;
  text-align: right;
}

.league__team__container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.league__team__name {
  font-weight: 600;
}

.league__teamStat__container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-self: flex-end;
}

.league__team__text {
  font-weight: 300;
  width: 11.2px;
}

.league__team--bold {
  font-weight: 700;
}

/* Squad Section */

.squad {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 19rem;
}

.squad__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.squad__player-card {
  display: flex;
  gap: 1rem;
  flex-basis: 45%;
}

.squad__player-img {
  width: 50px;
  height: 50px;
}

/* Footer */

.footer {
  position: absolute;
  bottom: 0;
  /* padding: .3rem 0; */
  width: 100%;
  background-image: var(--yellow-gradient);
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
}

.footer__container {
  height: 2.1rem;
}

.breaking__news {
  background-image: var(--black-gradient);
  color: gold;
  padding: 0 1rem;
}
